* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#messages {
  list-style-type: none;
  height: 400px;
}

.li-right {
  float: right;
}

#online {
  height: 100px;
  list-style: none;
}
#online li {
  margin-left: 25px;
}

#login {
  display: "";
  text-align: center;
  vertical-align: middle;
  margin-top: 150px;
  line-height: 3em;
}
.update {
  text-align: center;
  vertical-align: middle;
}
